/* Movie Search */

body {
    background-color: #333333;
    text-align: center;
    font-family: sans-serif;
    margin: none;
    padding: none;
  }
  
  h1 {
    color: green;
  }
  
  .menu {
    display: block;
    text-align: left;
  }

  .similar-mobies-button-container {
    display: flex;
    justify-content: center;
  
  }
  
  .similar-mobies-button {
    margin: 2px;
  }
  
  .watchlist-button-container {
    display: inline-block;
    text-align: left;
    margin: 0px;
    padding: none;
  }
  
  .watchlist-button {
    border: none;
    background-color: transparent;
    font-size: inherit;
    color: white;
  }
  .watchlist-button:hover {
    cursor: pointer;
    color: purple;
  }
  
  .upcoming-movies-button-container {
    display: inline-block;
    text-align: left;
    margin: 0px;
    padding: none;
  }
  
  .upcoming-movies-button {
    border: none;
    background-color: transparent;
    font-size: inherit;
    color: white;
  }
  
  .upcoming-movies-button:hover {
    cursor: pointer;
    color: purple;
  }
  
  .switch-search-button-container {
    display: inline-block;
    text-align: left;
    margin: 0px;
    padding: none;
  }
  
  .switch-search-button {
    border: none;
    background-color: transparent;
    font-size: inherit;
    color: white;
  }
  
  .switch-search-button:hover {
    cursor: pointer;
    color: purple;
  }
  
  
  
  .search-form-container {
    display: block;
    width: 400px;
    margin: auto;
    text-align: left;
  }
  
  .search-input-container {
    display: inline-block;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .search-input {
    font-family: inherit;
    width: 300px;
    height: 35px;
    padding-left: 15px;
    font-size: 15px;
    border: none;
    margin: none;
    margin-bottom: 3px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .search-input:focus {
    outline: none;
  }
  
  .search-button {
    font-family: inherit;
    height: 35px;
    border: none;
    background-color: #333333;
    color: white;
    font-size: 15px;
  }
  
  .search-button:hover {
    cursor: pointer;
    background-color: #555555;
  }
  
  .select-genre-container {
    width: 318px;
  }
  
  .select-genre-label {
    color: white;
  }
  
  .select-genre {
    float:right;
    height: 25px;
    border-radius: 5px;
  }
  
  .input-year-container-2 {
    width: 318px;
  }
  
  .input-year-label-2 {
    color: white;
  }
  
  .year-before-after-input-2 {
    float: right;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    font-size: 15px;
  }
  
  .year-input-2 {
    float: right;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
  }
  
  .rating-container {
    width: 318px;
  }
  
  .rating-less-greater-input {
    float: right;
    border-radius: 5px;
  }
  
  .rating-label {
    color: white;
  }
  
  .rating-input {
    float: right;
    border-radius: 5px;;
  }
  
  /* End Movie Search */
  
  /* Movie */
  
  .movie-container {
    background-color: #8900b3;
    border: 3px solid #008cff;
    width: 318px;
    /* height: 318px; */
    margin: auto;
    margin-top: 10px;
    position: relative;
    /* left: -35px; */
    border-radius: 5px;
    font-size: 17px;
    color: white;
  }
  
  .movie-title-container {
    display: block;
    margin: 10px;
  }
  
  .movie-title {
  
  }
  
  .movie-title-empty {
  
  }
  
  .movie-image-container {
    display: block;
  }
  
  .movie-image {
    border-radius: 10px;
  }
  
  .movie-image-empty {
  
  }
  
  .add-and-delete-container {
    display: block;
  }
  
  .movie-add-button-container {
  
  }
  
  .movie-add-button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
  }
  
  .movie-add-button:disabled {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color: rgb(0, 78, 0);
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .movie-add-button:hover {
    cursor: pointer;
    background-color: rgb(0, 90, 0);
  }
  
  .movie-add-button:hover:disabled {
    cursor: auto;
    background-color:rgb(0, 78, 0);
  }
  
  .movie-add-button-empty {
  
  }
  
  .movie-delete-button-container {
  
  }
  
  .movie-delete-button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
  }
  
  .movie-delete-button:hover {
    cursor: pointer;
    background-color: rgb(192, 0, 0);
  }
  
  .movie-delete-button:disabled {
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color: rgb(173, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .movie-delete-button-empty {
    
  }
  
  .movie-delete-button:hover:disabled {
    cursor: auto;
    background-color: rgb(173, 0, 0);;
  }
  
  .movie-rating-container {
  
  }
  
  .movie-rating-label {
    font-size: 15px;
  }
  
  .movie-rating {
    display: block;
    font-size: 20px;
    color: yellow;
  }
  
  .movie-genres-container {
    display: block;
  }
  
  .movie-genres {
  
  }
  
  .movie-genres-empty {
  
  }

  /* Landing Page */
.is-boxed{
    background:#E9EDF3
}

.sr .has-animations .is-revealing{
    visibility:hidden
}

.body-wrap{
    background:#293240;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    min-height:100vh
}

.boxed-container{
    max-width:1440px;
    margin:0 auto;
    box-shadow:0 16px 48px rgba(255,255,255,0.5)
}

.site-header{
    position:relative;
    padding:24px 0;
    z-index:2
}

.container .container-sm{
    max-width:800px;
    padding-left:0;
    padding-right:0
}

.hero{
    text-align:center;
    padding-top:48px;
    padding-bottom:88px
}

.hero-inner{
    display:flex;
    justify-content:space-between
}
.hero-copy{
    padding-top:40px;
    padding-right:48px;
    min-width:448px;
    max-width:512px;
    z-index:1
}

.hero-cta{
    display:flex;
    align-items:center;
    margin:0
}

.hero-title{
    margin-bottom:16px;
    font-size: 50px;
}

.mt-0{
    margin-top:0
}

.header-illustration{
    display:none
}

.hero-media{
    position:relative
}

.hero-media-illustration{
    position:absolute;
    top:-10%;
    left:-15px
}

.hero-media-container{
    position:relative;
    margin-right:40%;

}
.hero-media-img{
    position:static;
    margin-right:60px;
}
.hero-paragraph{
    margin-left:25px;
    font-size:16px;
}

.section-title{
    margin-left:25px;
    font-size:30px;
}

button{
    font-size:20px;
    line-height:30px;
    margin-left:40%;
}

.button-primary{
    font-size:20px;
    line-height:30px;
    /* margin-left:50%; */
    margin-right:38%;
}

cta-cta{
    margin-left:none;
    margin-right:none; 
}
